@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


body{
  margin: 0;
  display: flex;
  padding-top: 6rem;
  background-color: #232323;
  font-family: "Poppins";
  color: #F8F8FF;
  flex-direction: column;
}

.title{
  font-size: 45px;
  font-weight: 500;
}
.container{
  display: flex;
  justify-content: center;
  padding: auto;
  justify-content: space-between;
  margin: 0 auto;
}

.cart-box{
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #1E1E1E;
  width: 25%;
  min-height: 400px;
  height: auto;
  margin: auto;
  border-radius: 25px;
  box-shadow:#4472C4 1px 1px;
}

.card-form{
  align-self: center;
  border-radius: 5px;
  background-color: #232323;
  margin: 1rem;
  height: 1.8rem;
}

.button{
  width: 5rem;
  align-self: center;
  margin-top: 1rem;
  margin-bottom:1rem;
  background-color: #4472C4;
}
.button:hover{
  background-color: #5A8DEE;
}

.logo{
  width: 200px;
  height: 70px;
  align-self: center;
}